
@use '@angular/material' as mat;

@import '~@angular/material/theming';
@import 'variables';

@include mat-core();

$my-custom-primary: mat-palette($siste-brand);
$my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
$my-custom-warn: mat-palette($mat-lime);

$siste-typography: mat.define-typography-config(
    $font-family: 'Red Hat Display',
);

$siste-theme: mat-light-theme(
    (
        color: (
            primary: $my-custom-primary,
            accent: $my-custom-accent,
            warn: $my-custom-warn
        ),
        typography: $siste-typography
    )
);

@include angular-material-theme($siste-theme);